<div class="star-wrapper" [style.width.px]="totalStarwidth">
   <div  [style.width.px]="starwidth" [title]="rating" (click)="ratinkgStarClick()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Example home icon">star</mat-icon>
  </div>
</div>
