<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Website</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i=index">
        <th scope="row">{{i}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.website}}</td>
      </tr>
      <tr *ngIf="users.length === 0">
        <td colspan="4">No data</td>
      </tr>
    </tbody>
  </table>